extends layout
include mixins/prompt-install

block content
    if isZoom
        .is-hidden#main
            h1.title.has-text-centered.is-size-5-mobile.pb-6 DrawWebView Zoom App Cross Domain Issue Demo 
            p Same app loading on two domains: 
            br
            p Client A: #{clientADomain} 
            br
            p Client B: #{clientBDomain}
            br
            h2.subtitle.has-text-centered#helpMsg Start a meeting to use this app
            .columns
                .column
                    include includes/host-controls

        canvas#uiCanvas
        img#logo(src='/img/zoom.png')
        p EXPECTED RESULT: Body is appened with text from both scripts
        code I'm a same domain script Client A Domain.
        br
        code I'm a cross domain script from Client B Domain.
        p ACTUAL RESULT (Scroll Down):
    else
        +prompt-install(title, installURL)

append scripts
    if isZoom
        script(type="module" src='/js/bundle.mjs')
        script(nomodule src='/js/bundle.js')
        script(src=clientADomain + '/js/test/client-a-script.js' type="text/javascript")
        script(src=clientBDomain + '/js/test/client-b-script.js' type="text/javascript")
